/* Inte klasser */

html {
  font-size: 16px;
}

body {
  font-family: museo-sans, sans-serif;
  color: #2f2f2f;
  background-color: #f8f6f1;
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

a {
  font-weight: 900;
  color: #2f2f2f;
  text-decoration: none;
}

a:hover {
  background: #fce8e8;
}

h1 {
  font-size: 4.236rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 2.618rem;
  font-weight: 900;
}

h3 {
  font-size: 1.618rem;
  font-weight: 900;
}

h4 {
  font-size: 1rem;
  font-weight: 900;
}

p {
  font-family: rooney;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
}

/* Klasser */

.main {
  width: 1400px;
  overflow: hidden;
}

/* Menyn */
.menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid #2f2f2f;
}

.menu-box1 {
  border-right: 1px solid #2f2f2f;
  background-color: #f8f6f1;
  padding: 20px 80px 20px 80px;
  font-size: 20px;
}

.menu-box2 {
  border-right: 1px solid #2f2f2f;
  border-left: 1px solid #2f2f2f;
  background-color: #f8f6f1;
  padding: 20px;
}

.menu-box3 {
  background-color: #f8f6f1;
  padding: 20px;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
}

.menu-box4 {
  border-right: 1px solid #2f2f2f;
  background-color: #f8f6f1;
  padding: 20px;
  margin: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  top: 0;
  background-color: #f8f6f1;
}

/* övrigt */

.align-center {
  display: flex;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid #2f2f2f;
}

.border-left {
  border-left: 1px solid #2f2f2f;
}

.border-right {
  border-right: 1px solid #2f2f2f;
}

/* Startbild */

.startbild {
  background-image: url("img/SVG/blommor\ start.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  background-position: center;
  border-bottom: 1px solid #2f2f2f;
  padding-top: 3rem;
}

/* projektdelen startsida */

.box-rubrik {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.h2-left {
  padding: 1.2rem 0 1.2rem 2.4rem;
  margin: 0;
}

.h2-right {
  padding: 1.2rem 2.4rem 1.2rem 0;
  margin: 0;
}

.bild-box {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.bild-box {
  display: flex;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/* projektsidan */

.box-left {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  min-width: 375px;
  position: fixed;
  top: 66px;
  left: 0;
  bottom: 0;

  overflow-y: scroll;
}

.box-right {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 66px;
  left: 375px;
  bottom: 0px;

  overflow-y: scroll;
}

.project-box-title {
  border-left: 1px solid #2f2f2f;

  background-color: #f8f6f1;
  display: flex;
  flex-direction: column;
}

.project-box-about {
  padding: 1.3rem;
  border-top: 1px solid #2f2f2f;
  border-left: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  background-color: #f8f6f1;
}

.project-box-content {
  border-right: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  border-left: 1px solid #2f2f2f;
}

.img-size {
  width: 100%;
}

.about-h1 {
  top: 40px;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.vaxi1 {
  background-image: url("img/P\ vaxi\ 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 89vh;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #42776d;
}

.vaxi2 {
  display: flex;
  justify-content: center;
  background-color: #f4fbfa;
  width: auto;
  height: auto;
}

.img-size-kyl {
  width: 100%;
  height: auto;
}

.img-size-bild-kyl {
  width: 100%;
  padding: 0;
}

.box-next {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* aboutsidan */
.name-flower {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 70px;
}

.flower-rotate {
  width: 15%;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.box-about-page {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.box-about1 {
  border: 1px solid #2f2f2f;
  padding: 1.5rem;
}

.box-about1-1 {
  border: 1px solid #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1rem;
}

.box-about2 {
  border: 1px solid #2f2f2f;
  padding: 1.5rem;
}

.box-about-right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 55vw;
}

.box-about-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 45vw;
}

.box-media {
  display: flex;
  justify-content: space-between;
  border: 1px solid #2f2f2f;
}

.margin-icon {
  margin: 1rem 0 1rem 0;
}

.center-icon {
  display: flex;
  justify-content: center;
}

.box-skills {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

/* footer */

.footer-right {
  display: flex;
  justify-content: flex-end;
  max-width: 40vw;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
}

.footer-box {
  border-right: 1px solid #2f2f2f;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-box-hello {
  border-right: 1px solid #2f2f2f;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-box-last {
  border-right: 1px solid #2f2f2f;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2f2f2f;
}

@media (max-width: 810px) {
  h2 {
    font-size: 1.618rem;
    font-weight: 900;
  }

  .h2-left {
    padding: 1rem;
    margin: 0;
  }

  .h2-right {
    padding: 1rem;
    margin: 0;
  }
  .box-left {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: initial;
    position: initial;
    top: 100px;
    left: initial;
    bottom: initial;

    overflow-y: initial;
  }

  .box-right {
    display: flex;
    flex-direction: column;
    position: initial;
    top: 66px;
    left: 375px;
    bottom: 0px;

    overflow-y: scroll;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    border-bottom: 1px solid #2f2f2f;
  }
  .footer-right {
    display: flex;
    justify-content: space-between;
    max-width: 810px;
  }

  .footer-left {
    display: flex;
    justify-content: flex-start;
  }

  .footer-box {
    border-top: 1px solid #2f2f2f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 22.1vw;
  }

  .footer-box-hello {
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 94.45vw;
  }

  .footer-box-last {
    border-top: 1px solid #2f2f2f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
  }
}
